html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

h1 {
  color: #7e7a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
}
/* .matrix {
  background-color: red;
} */
/* div {
  border: dashed 2px cyan;
} */

/* Selector  */
.main {
  background-color: black;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 2rem;
}

a {
  color: green;
  background-color: #000000;
  border: 3px solid rgb(45, 92, 45);
  border-radius: 10px;
  text-decoration: none;
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

.boton {
  margin-block: 2rem;
}

a:hover {
  background-color: rgb(30, 94, 64);
  border: rgb(23, 45, 122);
  transform: scale(1.1);
  box-shadow: 0px 5px 20px green;
}
